@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <h2>Description</h2>
        <table>
            <tr><td>Solution was implemented using Microsoft .NET Core, ServiceFabric                                  </td></tr>
            <tr><td>Architecture:                                                                                      </td></tr>
            <tr><td> Data layer - stateful services.                                                                   </td></tr>
            <tr><td> WebApi     - Asp.NET Core with Kestrel                                                            </td></tr>
            <tr><td> Interface  - Razor                                                                                </td></tr>
            <tr><td> <br />                                                                                             </td></tr>
            <tr><td>To start, go to the @Html.ActionLink("Customers", "Index", "Customer") tab and start inputing data.</td></tr>
            <tr><td> <br />                                                                                             </td></tr>
            <tr><td> This application was build using the miro-service approach                                         </td></tr>
            <tr><td> Layers are sepparate using interfaces to facilitate testing                                        </td></tr>
            <tr><td> In the solution you can find also the few tests, I did not implement full scale testing due to     </td></tr>
            <tr><td> time constraints, but there is a few examples                                                      </td></tr>
            <tr><td>                                                                                                    </td></tr>
            <tr><td>                                                                                                    </td></tr>
            <tr><td>                                                                                                    </td></tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h2>Disclaimer</h2>
        <table>
            <tr><td>I apologize for the rudimentary interface, I am backend dev :) </td></tr>
            <tr><td>So while I did spend most of the time on  geting the UI to work, it still leaves a lot to be desired, like validation, anti XSS tokens, nice JS to make it all look great, it does work :) </td></tr>
        </table>

</div>
</div>
